.categorySelector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.1rem;
}

.categoryButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}

.categoryButton:focus {
  outline: none;
}

.categoryButton span {
  margin-top: 0.1rem;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.categoryButton:hover {
    background-color: var(--primary-hover);
}

.categoryButton.selected {
  background-color: var(--secondary-color);
}

@media (prefers-color-scheme: dark) {
  .categoryButton span {
    color: var(--text-color-dark, #e1e1e1);
  }
}

.categoryLabel {
  font-size: 0.7rem;
  font-weight: 600;
  font-family: var(--font-family);
} 