/* src/components/EventForm.module.css */
.eventForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toggleContainer {
  text-align: right;
}

.toggleButton {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  align-items: center;
  font-family: var(--font-family);
}

.submitButton {
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font-family);
}

.submitButton:hover {
  background-color: var(--primary-hover);
}

.error {
  color: red;
  font-size: 0.8rem;
}